screenshots/20140515b-screenshot.png filter=lfs diff=lfs merge=lfs -text
screenshots/20140515c-screenshot.png filter=lfs diff=lfs merge=lfs -text
screenshots/20140515a-screenshot.png filter=lfs diff=lfs merge=lfs -text
